.header {
    position: sticky;
    top: 0;
    background-color: $primary-color;
    border-bottom: 1px solid #e2e8f0;
    background-color: rgb(105, 194, 236);
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 150px;

    &--h1 {
        color: red
    }
}



.dark{
    background-color: rgb(72, 30, 126);
    color:white;
}

.header > img{
    padding-left: 15px;
}

.header-title {
        flex-basis: 90%;
}
.header-title > h1 {
    font-size: 50px;
}

.dark{
    background-color: rgb(72, 30, 126);
    color:white;
}

img{
    width:5%;
}